<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->


    <target name="error" xsi:type="File" fileName="${basedir}/logs/error${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" encoding="UTF-8" />
    <target name="trace" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
        layout="${longdate} ${uppercase:${level}} ${message}" encoding="UTF-8" />
    <target name="console" xsi:type="Console"
        layout="${longdate}|${level}|${message}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->


    <logger name="*" minlevel="Warn" writeTo="error" />
    <logger name="*" minlevel="Warn" writeTo="trace" />
    <logger name="*" minlevel="Trace" writeTo="console" /> //控制台
  </rules>
</nlog>